<h1>Listing tipo_suelos</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @tipo_suelos.each do |tipo_suelo| %>
  <tr>
    <td><%=h tipo_suelo.descripcion %></td>
    <td><%= link_to 'Show', tipo_suelo %></td>
    <td><%= link_to 'Edit', edit_tipo_suelo_path(tipo_suelo) %></td>
    <td><%= link_to 'Destroy', tipo_suelo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tipo_suelo', new_tipo_suelo_path %>