<h1>Editing acceso</h1>

<% form_for(@acceso) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @acceso %> |
<%= link_to 'Back', accesos_path %>