<h1>Editing color_suelo</h1>

<% form_for(@color_suelo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @color_suelo %> |
<%= link_to 'Back', color_suelos_path %>