<h1>Editing profun_suelo</h1>

<% form_for(@profun_suelo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @profun_suelo %> |
<%= link_to 'Back', profun_suelos_path %>