<h1>Listing profun_suelos</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @profun_suelos.each do |profun_suelo| %>
  <tr>
    <td><%=h profun_suelo.descripcion %></td>
    <td><%= link_to 'Show', profun_suelo %></td>
    <td><%= link_to 'Edit', edit_profun_suelo_path(profun_suelo) %></td>
    <td><%= link_to 'Destroy', profun_suelo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New profun_suelo', new_profun_suelo_path %>