<p>
  <b>Finca:</b>
  <%=h @persona.finca_id %>
</p>

<p>
  <b>Nombre1:</b>
  <%=h @persona.nombre1 %>
</p>

<p>
  <b>Nombre2:</b>
  <%=h @persona.nombre2 %>
</p>

<p>
  <b>Apellido1:</b>
  <%=h @persona.apellido1 %>
</p>

<p>
  <b>Apellido2:</b>
  <%=h @persona.apellido2 %>
</p>

<p>
  <b>Fecha nac:</b>
  <%=h @persona.fecha_nac %>
</p>

<p>
  <b>Genero:</b>
  <%=h @persona.genero_id %>
</p>

<p>
  <b>Alfabe:</b>
  <%=h @persona.alfabe_id %>
</p>

<p>
  <b>Naciona:</b>
  <%=h @persona.naciona_id %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @persona.direccion %>
</p>

<p>
  <b>Profesion:</b>
  <%=h @persona.profesion_id %>
</p>

<p>
  <b>Parentesco:</b>
  <%=h @persona.parentesco_id %>
</p>

<p>
  <b>Cabeza familia:</b>
  <%=h @persona.cabeza_familia %>
</p>


<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>