<h1>Editing alfabe</h1>

<% form_for(@alfabe) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @alfabe %> |
<%= link_to 'Back', alfabes_path %>