<h1>Listing fertilizas</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @fertilizas.each do |fertiliza| %>
  <tr>
    <td><%=h fertiliza.descripcion %></td>
    <td><%= link_to 'Show', fertiliza %></td>
    <td><%= link_to 'Edit', edit_fertiliza_path(fertiliza) %></td>
    <td><%= link_to 'Destroy', fertiliza, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New fertiliza', new_fertiliza_path %>