<h1>Editing openmapa</h1>

<% form_for(@openmapa) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :codigo_html %><br />
    <%= f.text_field :codigo_html %>
  </p>
  <p>
    <%= f.label :municipio_id %><br />
    <%= f.text_field :municipio_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @openmapa %> |
<%= link_to 'Back', openmapas_path %>